.backcolor
{
    background-color: black;
    color: skyblue;
}

.sidecolor
{
    background-color: skyblue;
    color: black;
    opacity: .9;
}

.right
{
    float: right;
}

.left
{
    float: left;
}

blockquote 
{
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 40px;
    margin-right: 40px;
}
/* .video-wrapper {
    position: relative;
    padding-bottom: 20%;
    height: 0;
  } */
  
  .video {
    /* position: absolute; */
    max-width: 100%;
    height: 100%;
  }