.backcolor
{
    background-color: black;
    color: skyblue;
}

.sidecolor
{
    background-color: skyblue;
    color: black;
    opacity: .9;
}

.right
{
    float: right;
}

.left
{
    float: left;
}

blockquote 
{
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 40px;
    margin-right: 40px;
}